@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Torneo de Futbol</h1>
=======
    <h1 class="display-4">Welcome</h1>
>>>>>>> 35b4542d87f56fde011a5bb81b8a7ac836b3e3cf
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
