@page
@model LigaFutbolSoftInn.App.Frontend.Pages.AddMunicipioModel
@{
}
<h1>Asignar Municipio</h1>
<form method="post">
    <div class="form-group">
        <label for="idEquipo">Equipo</label>
        <input type="text" id="idEquipo" name="idEquipo" class="form-control" value="@Model.equipo.IdEquipo" readonly>
    </div>
    <div class="form-group">
        <label for="idMunicipio">Municipio</label>
        <select id="idMunicipio" name="idMunicipio" class="form-control">
            @foreach (var municipio in Model.municipios)
            {
                <option value="@municipio.IdMunicipio">@municipio.NombreMunicipio</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Asignar Municipio</button>
</form>
<<<<<<< HEAD
<a class="btn btn-secondary" asp-page="./IndexEquipo">Volver</a>
=======
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
>>>>>>> 9d5046e88f27a3e023fec3a467a1a2fcc36cbdf7
