@page
@model LigaFutbolSoftInn.App.Frontend.Pages.DetailsEquipoModel
@{
}
<h1>Detalles del Equipo</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">ID</th>
        <td>@Model.equipo.IdEquipo</td>
    </tr>
    <tr>
        <th scope="col">Nombre Equipo</th>
        <td>@Model.equipo.NombreEquipo</td>
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        @if (Model.equipo.Municipio == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-id="@Model.equipo.IdEquipo">Asignar Municipio</a>
            </td>
        }
        else
        {
            <td>@Model.equipo.Municipio.NombreMunicipio</td>
        }
    </tr>
</table>
<a class="btn btn-primary" asp-page="./IndexEquipo">Volver</a>